*{
    box-sizing: border-box;
}

body {
    font-family: 'courier new', courier, sans-serif;
    font-weight: 500;
    color: #555;
    margin-top: 50px;
}

header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 999;
}

#header-title{
    float: left;
    margin-bottom: 0;
}

header .container {
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 970px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

header nav li{
    padding: 15px;
}

main, aside {
    height: 500px;
    border: 2px solid black;
}

main {
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
}

aside {
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
}

a {
    text-decoration: none;
}

article {
    padding: 2px;
}

article p{
    font-size: 14px;
    padding: 10px;
}

.btn {
    background-color: tomato;
    color: white;
    border-radius: 5px;
    padding: 5px;
    float: right;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

#share-grouping {
    padding-left: 10px;
}

footer img {
    max-height: 30px;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
}

footer ul {
    display: flex;
    height: 60px;
}

footer a {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a:hover {
    background-color: #a1a4a9;
}