* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'courier new', courier, sans-serif;
	font-weight: 500;
	color: #555;
}

h1 {
	font-size: 36px;
	line-height: 1.2;
}
h2 {
	font-size: 21px;
	line-height: 1.2;
}

p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #2ec371;
}

blockquote {
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-size: 13px;
	font-weight: 400;
	line-height: 18x;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Header Styling */

#site-title {
    float: left;
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 0px;
}

#header-nav {
    float: right;
}

#header-nav li {
    display: inline-block;
    vertical-align: top;
}

#header-nav li a {
    display: block;
    padding: 15px;
}

#header-nav li a:hover {
    background-color: #222;
}

/* Top Section Styling */

#top {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #cbd0d2;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url('../images/banner.jpg') no-repeat center center;
  background-size: cover;
}

#top h1 {
	color: #2ec371;
	font-weight: 800;
}

#top h2 {
	color: #cecece;
	font-weight: 200;
}

#top input[type="text"]{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

#top input[type="submit"]{
    background-color: #2ec371;
    border-color: #2ec371;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

#top fieldset{
    width: 400px;
    margin: 20px auto;
}
.credentials{
    font-weight: 600;
    color: #2ec371;
    font-size: 20px;
}


/* Middle Section */

#taylor-image{
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

/* Bottom Section */

#bottom {
    text-align: center;
	background-color: #fefefe;
}

#bottom h2 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 10px;
}

#bottom h3 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 15px;
}

#bottom img{
    max-height: 150px;1
    max-width: 150px;
    border-radius: 10px;
}

.one-half {
    padding: 30px 20px;
	background-color: #fefefe;
    border: 1px solid #fefefe;
    width: 50%;
    /* float: left; */
    display: inline-block;
    vertical-align: top;
}

.one-half ul{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
}

.one-half li {
    text-align: center;
}

/* Universal */
h1,h2,h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.skinny {
	font-weight: 100;
	color: #fefefe;
}

.btn {
    background-color: #555555;
    border: 1px solid #357ebd;
    color: #fefefe;
    padding: 5px;
    border-radius: 7px;
}

.btn:hover{
    background-color: #2ec371;
}

/* clearfix */


.row:before,
.row:after, .clear_fix:before, .clear_fix:after {
    content: "";
    display: table;
} 
.row:after, .clear_fix:after {
    clear: both;
}

.row, .clear_fix{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
