* {
  box-sizing: border-box;
}

h2, h4 {
    font-weight: 900;
    font-size: 25px;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #555;
    margin-top: 50px;
}

header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.header-flex {
    display: flex;
    height: 50px;
    align-items: center;
}

.header-flex a {
    text-decoration: none;
    color: #444;
    display: flex;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 50px;
}

.header-flex a:first-child{
    border-bottom: 0;
}

.header-flex a:last-child{
    border-right: 0;
}

.header-flex li img{
    height: 30px;
}

.header-flex a:hover{
    background-color: #2ec371;
    color: white;
}

#hold-form-collapse-button {
    flex: 0 1 426px;
}

aside {
    position: fixed;
    width: 426px;
    border: 1px solid #D7DADB;
    bottom: 0;
    top:50px;
    overflow: scroll;
    background-color: #f7f7f7;
}

aside h2 {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    margin-top: 25px;
    line-height: 29px;
    margin-bottom: 10px;
}

aside h4 {
    background: #f2f2f2;
    padding: 10px 16px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid rgba(124, 197, 118, 0.1);
}

aside a {
    display: block;
    padding: 11px 16px;
    background: #f7f7f7;
    list-style-type: none;
    font-size: 15px;
    letter-spacing: 0px;
    color: #425252;
    text-decoration: none;
    font-weight: 200;
    border-bottom: 1px solid rgba(124, 197, 118, 0.1) !important;
}

article {
    margin-left: 436px;
    padding: 15px;
}

article h1 {
    margin-bottom: 18px;
    line-height: 41px;
    font-weight: bold;
    font-size: 31px;
}

article h3 {
    font-size: 24px;
    line-height: 33px;
    color: #2b3636;
    margin-top: 20px;
    margin-bottom: 10px;
}

article p {
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 22px;
    letter-spacing: 0.1px;
}

article li {
    font-size: 17px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 15px;
}

#child-example li:nth-child(2n) a{
    background-color: red;
}

@media (min-width: 768px) and (max-width: 991px) {
    aside {
        width: 276px;
    }

    article {
        margin-left: 286px;
    }

    #example {
        flex: 0 1 276px;
    }

}

@media (max-width: 767px) {
    aside {
        display: none;
    }

    article {
        margin-left: 0;
    }

    #example {
        flex: 0 1 56px;
    }
}

main a {
    text-decoration: none;
    color: #2ec371;
    font-weight: 700;
    font-size: 20px;
}

article {
    margin-left: 436px;
}

article p {
    padding: 10px;
    font-size: 18px;
}

article h3, h1 {
    padding-top: 5px;
    font-weight: 600;
}

article li {
    padding: 5px;
}